body {
  font-family: 'Roboto', sans-serif; }

a:hover {
  text-decoration: none; }

.header-container {
  padding-bottom: 379px; }

.header-row {
  padding-top: 12px;
  align-items: center; }

.logo {
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E; }

.menu__link {
  font-size: 14px;
  line-height: 24px;
  color: #505F98; }

.button {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px; }
  .button .button__link {
    text-align: center; }
    .button .button__link .button__item {
      padding: 4px;
      border-radius: 2px;
      background: #111B47;
      color: #FFFFFF; }

.button_big {
  font-size: 16px;
  line-height: 26px; }
  .button_big .button__link_big .button__item_big {
    padding: 5px; }

.bg-top {
  background: url(../img/illustration_inner.jpg) no-repeat right;
  background-size: contain; }

.bg-bottom {
  background: url(../img/Rectangle.jpg) no-repeat;
  background-size: auto; }

.bg-row {
  margin-top: -58px;
  padding-bottom: 207px;
  background: url(../img/Path.png) no-repeat center;
  background-size: contain; }

.bg-footer {
  background: #E7ECFF; }

.info-block .info-block__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133; }
.info-block .info-block__title_big {
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px; }
.info-block .info-block__title_small {
  font-size: 16px;
  line-height: 26px; }
.info-block .info-block__text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2; }
.info-block .info-block__text_big {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #505F98; }
.info-block .info-block__text_small {
  margin-top: 6px;
  font-size: 12px;
  line-height: 18px;
  color: #5D6970; }

.info-block_center {
  text-align: center; }

.price {
  margin-top: 36px;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #222F65; }

.price-text {
  font-size: 16px;
  line-height: 26px;
  color: #222F65; }

.text {
  font-size: 14px;
  line-height: 24px;
  color: #5D6970;
  margin-top: 60px; }

.footer-row {
  padding-top: 61px;
  padding-bottom: 40px;
  align-items: center;
  border-bottom: 1px solid #CDD1D4; }

.footer-links {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 32px; }

.social-networks {
  display: flex;
  justify-content: space-between; }

.img-overflow {
  overflow: hidden; }

.margin-top_253 {
  margin-top: 253px; }

.margin-top_230 {
  margin-top: 230px; }

.margin-top_222 {
  margin-top: 222px; }

.margin-top_204 {
  margin-top: 204px; }

.margin-top_163 {
  margin-top: 163px; }

.margin-top_160 {
  margin-top: 160px; }

.margin-top_110 {
  margin-top: 110px; }

.margin-top_80 {
  margin-top: 80px; }

.margin-top_69 {
  margin-top: 69px; }

.margin-top_56 {
  margin-top: 56px; }

.margin-top_50 {
  margin-top: 50px; }

.margin-top_44 {
  margin-top: 44px; }

.margin-top_14 {
  margin-top: 14px; }

.margin-top_9 {
  margin-top: 9px; }

.margin-top_-58 {
  margin-top: -58px; }

/*# sourceMappingURL=index.css.map */
