
/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 
		.info-block .info-block__text_big {
		    border-radius: 2px;
	        background: rgba(255, 255, 255, 0.6);
		}
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	.margin-top_253 {
	    margin-top: 175px;
	}
	.margin-top_230 {
	    margin-top: 172px;
	}
	.margin-top_222 {
	    margin-top: 166px;
	}
	.margin-top_204 {
	    margin-top: 153px;
	}
	.margin-top_163 {
	    margin-top: 115px;
	}
	.margin-top_110 {
	    margin-top: 82px;
	}
	.margin-top_80 {
	    margin-top: 60px;
	}
	.margin-top_69 {
	    margin-top: 50px;
	}
	.margin-top_50 {
	    margin-top: 37px;
	}
	.info-block .info-block__title {
	    font-size: 26px;
	    line-height: 36px;
	}
	.info-block .info-block__title_small {
	    font-size: 16px;
	    line-height: 26px;
	}
	.info-block .info-block__text {
	    margin-top: 12px;
	    font-size: 16px;
	    line-height: 26px;
	}
	.info-block .info-block__title_big {
	    font-size: 36px;
	    line-height: 49px;
		letter-spacing: 0; 
	}
	.info-block .info-block__text_big {
	    margin-top: 20px;
	    font-size: 16px;
	    line-height: 22px;
	    border-radius: 2px;
        background: rgba(255, 255, 255, 0.6);
	}
	.button_big {
	    font-size: 14px;
	    line-height: 19px;
	}
	.header-container {
	    padding-bottom: 284px;
	}
	.bg-row {
	    margin-top: -72px;
	    padding-bottom: 155px;
	}
	.price {
	    margin-top: 36px;
	    font-size: 36px;
	    line-height: 50px;
	}
	.text {
	    margin-top: 45px;
	}

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.margin-top_253 {
	    margin-top: 130px;
	}
	.margin-top_230 {
	    margin-top: 97px;
	}
	.margin-top_222 {
	    margin-top: 124px;
	}
	.margin-top_204 {
	    margin-top: 120px;
	}
	.margin-top_163 {
	    margin-top: 100px;
	}
	.margin-top_110 {
	    margin-top: 60px;
	}
	.margin-top_80 {
	    margin-top: 45px;
	}
	.margin-top_69 {
	    margin-top: 37px;
	    justify-content: center;
	}
	.margin-top_56 {
	    margin-top: 25px;
	}
	.margin-top_50 {
	    margin-top: 27px;
	}
	.margin-top_44 {
	    margin-top: 17px;
	}
	.margin-top_9 {
	    margin-top: 5px;
	}
	.header-container {
    	padding-bottom: 213px;
	}
	.menu__link{
		text-align: center;
	}
	.header-row .logo, .header-row .button, .footer-links .social-networks, .footer-row .logo, .footer-row .button {
		margin-top: 20px;
	}
	.footer-row{
		text-align: center;
	}
	.header-container .info-block{
		text-align: center;
	}
	.info-block .info-block__title_big {
	    font-size: 28px;
	    line-height: 36px;
	}
	.info-block .info-block__text_big {
	    font-size: 14px;
	    line-height: 18px;
    }
    .info-block .info-block__title {
        font-size: 20px;
        line-height: 28px;
    }
    .bg-row {
        margin-top: -85px;
        padding-bottom: 100px;
    }
    .price {
        margin-top: 25px;
        font-size: 28px;
        line-height: 38px;
    }
    .text {
        margin-top: 18px;
    }
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) { 

}